<div class="container" style="width:100%">
    <h2>Sign-Up</h2>
    <hr>

    <div class="content" >
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="email@email.com" autocomplete="off" [(ngModel)]="user.email">
    </div>

    <div class="content">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="username" autocomplete="off" [(ngModel)]="user.username">
    </div>

    <div class="content">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="password" autocomplete="off" [(ngModel)]="user.password">
    </div>

    <div class="content">
        <label for="password">Team name:</label>
        <input type="text" class="form-control" id="teamName" placeholder="Fantasy Team Name" autocomplete="off" [(ngModel)]="user.teamName">
    </div>

    <div class="content">
        <button class="btn btn-success" id="btnSignUp" (click)="signUp()">Sign-up</button>
    </div>

</div>
