<div class="container">
    <h2>Edit user</h2>
    <hr>

    <div style="width:350px">
        <label for="oldPass">Old password:</label>
        <input type="password" class="form-control" id="oldPass" placeholder="Old password" autocomplete="off" [(ngModel)]="user.passwordO">
    </div>

    <div style="width:350px; margin-top:20px;">
        <label for="newPass">New password:</label>
        <input type="password" class="form-control" id="newPass" placeholder="New password" autocomplete="off" [(ngModel)]="user.password">
    </div>

    <div style="margin-top:20px;">
        <button class="btn btn-success" id="btnEdit" (click)="edit()">Save</button>
    </div>

</div>
