<div class="container">
    <h2>Fantasy</h2>
    <hr>

    <ul class="nav nav-tabs">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="league">League</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="pick-team">Pick team</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="transfers">Transfers</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="statistics">Statistics</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="help">Help</a></li>
    </ul>
    <br>
    <router-outlet></router-outlet>
</div>
