page-statistics {

	h2
	{
		background-color: green;
	}

	.class-padd
	{
		margin-bottom: 20px;
		/*border: black 2px solid;*/
		border-radius: 5px;
		padding: 5px;
		min-height: 100px;
		background-color: #f3f1f1;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
	}
}

