<nav class="navbar navbar-default" style="font-family:Poppins; background-color:green;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-left"><img src="../../assets/logo.ico" style="width:50px;height:50px"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="navLink" routerLink="/">Home</a></li>
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="navLink" routerLink="/fantasy">Fantasy</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="!loggedIn"> <!-- PRIKAZANO KO UPORABNIK NI PRIJAVLJEN -->
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="navLink" routerLink="/sign-up"><span class="glyphicon glyphicon-user"></span> Sign-up</a></li>
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="navLink" routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Sign-in</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="loggedIn"> <!-- PRIKAZANO KO JE UPORABNIK PRIJAVLJEN -->
                <li style="cursor:pointer;"><a class="navLink" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Sign-out</a></li>
            </ul>
        </div>
    </div>
</nav>
