<ion-header>

  <ion-navbar color="svetloGreen">
    <ion-title>Statistics</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="ozadjeStat">
	<ion-list >
		<ion-item *ngIf="MostValuableTeam" class="ozadjeStat">
			<div class="class-padd">
				<h1 style="display:inline">Most valuable team: </h1>
				<b><i style="font-size:22px">{{MostValuableTeam.name}}</i></b><br>
				<b>Value: </b>{{MostValuableTeam.value}}M<br>
				<b>Formation: </b>{{MostValuableTeam.formation}}<br>
				<b>Wins: </b>{{MostValuableTeam.wins}}<br>
				<b>Draws: </b>{{MostValuableTeam.draws}}<br>
				<b>Losses: </b>{{MostValuableTeam.losses}}<br>
				<button ion-button color="secondary" (click)="openModalTeam(MostValuableTeam)">Details</button>
			</div>
		</ion-item>

		<ion-item *ngIf="MostPickedPlayer" class="ozadjeStat">
			<div class="class-padd">
				<h1>Most picked player:</h1>
				<b> {{MostPickedPlayer.name}}</b><br>
				<ion-grid>
					<ion-row>
						<ion-col col-6>
							<div>
								<img src={{MostPickedPlayer.photo}} style="border: 2px grey solid; border-radius:90px;" >
							</div>
						</ion-col>
						<ion-col col-6>
							<div>
								<b>Value: </b>{{MostPickedPlayer.value}}M<br>
								<b>Position: </b>{{MostPickedPlayer.position}}<br>
								<b>Club: </b>{{MostPickedPlayer.club}}<br><br>
								<button ion-button color="secondary" (click)="openModalPlayer()">Player details</button>
							</div>
						</ion-col>
					</ion-row>
				</ion-grid>
			</div>
		</ion-item>

		<ion-item *ngIf="MostUsedFormation" class="ozadjeStat">
			<div class="class-padd">
				<h1>Most used formation:</h1><br>
				<b style="margin-left:5px">{{MostUsedFormation.formation}}</b><br>
			</div>
		</ion-item>

		<ion-item *ngIf="MostWins" class="ozadjeStat">
			<div class="class-padd">
				<h1>Most wins: <b><i>{{MostWins.name}}</i></b></h1><br>
				<b style="margin-left:5px">{{MostWins.wins}}</b><br>
				<button ion-button color="secondary" (click)="openModalTeam(MostWins)">Details</button>
			</div>
		</ion-item>

		<ion-item *ngIf="MostDraws" class="ozadjeStat">
			<div class="class-padd">
				<h1>Most draws: <b><i>{{MostDraws.name}}</i></b></h1><br>
				<b style="margin-left:5px">{{MostDraws.draws}}</b><br>
				<button ion-button color="secondary" (click)="openModalTeam(MostDraws)">Details</button>
			</div>
		</ion-item>

		<ion-item *ngIf="MostLosses" class="ozadjeStat">
			<div class="class-padd">
				<h1>Most losses: <b><i>{{MostLosses.name}}</i></b></h1><br>
				<b style="margin-left:5px">{{MostLosses.losses}}</b><br>
				<button ion-button color="secondary" (click)="openModalTeam(MostLosses)">Details</button>
			</div>
		</ion-item>

		<ion-item *ngIf="MostGoalsScored" class="ozadjeStat">
			<div class="class-padd">
				<h1>Most goals scored: <b><i>{{MostGoalsScored.name}}</i></b></h1><br>
				<b style="margin-left:5px">{{MostGoalsScored.goals_for}}</b><br>
				<button ion-button color="secondary" (click)="openModalTeam(MostGoalsScored)">Details</button>
			</div>
		</ion-item>

		<ion-item *ngIf="MostGoalsConceded" class="ozadjeStat">
			<div class="class-padd">
				<h1>Most goals conceded: <b><i>{{MostGoalsConceded.name}}</i></b></h1><br>
				<b style="margin-left:5px">{{MostGoalsConceded.goals_against}}</b><br>
				<button ion-button color="secondary" (click)="openModalTeam(MostGoalsConceded)">Details</button>
			</div>
		</ion-item>

		<ion-item *ngIf="LeastGoalsScored" class="ozadjeStat">
			<div class="class-padd">
				<h1>Least goals scored: <b><i>{{LeastGoalsScored.name}}</i></b></h1><br>
				<b style="margin-left:5px">{{LeastGoalsScored.goals_for}}</b><br>
				<button ion-button color="secondary" (click)="openModalTeam(LeastGoalsScored)">Details</button>
			</div>
		</ion-item>

		<ion-item *ngIf="LeastGoalsConceded" class="ozadjeStat">
			<div class="class-padd">
				<h1>Least goals conceded: <b><i>{{LeastGoalsConceded.name}}</i></b></h1><br>
				<b style="margin-left:5px">{{LeastGoalsConceded.goals_against}}</b><br>
				<button ion-button color="secondary" (click)="openModalTeam(LeastGoalsConceded)">Details</button>
			</div>
		</ion-item>

	</ion-list>
</ion-content>
