page-league {
  .ozadjeLiga{
		background-color: #228B22;
	}

  #tabelaBck{
    
    background-color: #f3f1f1;
  }

  th, td{
    border: 1px solid black;
    width: 60px;
    height: 50px;
    text-align: center;
  }
}
