<div class="container">
    <h2>Team: {{selectedTeam.name}}</h2>
    <hr>


    <table class="table table-hover">
      <thead>
          <tr>
              <th>Name</th>
              <th>Value</th>
              <th>W</th>
              <th>D</th>
              <th>L</th>
              <th>F</th>
              <th>A</th>
              <th>Points</th>
              <th>Play!</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{selectedTeam.name}}</td>
          <td>{{selectedTeam.value}}M</td>
          <td>{{selectedTeam.wins}}</td>
          <td>{{selectedTeam.draws}}</td>
          <td>{{selectedTeam.losses}}</td>
          <td>{{selectedTeam.goals_for}}</td>
          <td>{{selectedTeam.goals_against}}</td>
          <td>{{(selectedTeam.wins * 3) + selectedTeam.draws}}</td>
          <td><button class="btn btn-default btn-sm" [class.disabled]="!CanPlay" (click)="simulate()" data-toggle="modal" data-target="#resultModal">Play</button></td>
        </tr>
      </tbody>
    </table>


          <div>
              <b>Formation: </b>{{selectedTeam.formation}}<br>
          </div>

<!--
    <div *ngFor="let player of selectedPlayers">
      <p>{{player.name}} | {{player.club}}</p>
    </div>
-->

<h3>Players:</h3>

  <table class="table table-striped">
    <tbody>
      <tr *ngFor="let player of selectedPlayers" style="padding: 10px">

        <td><h4><b>{{player.name}}</b></h4></td>
        <td><img src={{player.photo}} style="height: 80px; border: 1px grey solid; border-radius:90px; margin: 0px 10px 0px 10px" ></td>
        <td><button class="btn btn-success" (click)="onPlayerSelect(player)" data-toggle="modal" data-target="#playerModal">Details</button></td>
        <td><div >
          <b>Position: </b>{{player.position}}<br>
          <b>Overall: </b>{{player.overall}}<br>
          <b>Value: </b>{{player.value}}M<br>
          <b>Club: </b>{{player.club}}<br>
        </div></td>

    </tr>
  </tbody>
  </table>


        <div style="background-color: lightgrey; margin: 10px">      </div>
<!--
  <div *ngFor="let player of selectedPlayers" style="background-color: lightgrey; margin: 10px; max-height: 100px; width: 50%">

    <h4><b>{{player.name}}</b></h4>
    <img src={{player.photo}} style="height: 80px; border: 1px grey solid; border-radius:90px; margin: 0px 10px 0px 10px" >
    <div >
      <b>Position: </b>{{player.position}}<br>
      <b>Overall: </b>{{player.overall}}<br>
      <b>Value: </b>{{player.value}}M<br>
      <b>Club: </b>{{player.club}}<br>
    </div>

  </div>
-->



</div>


<div class="modal fade" id="resultModal" role="dialog" *ngIf="FixtureResult">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{FixtureResult.Status}}</h4>
            </div>
            <div class="modal-body">
                <p>{{FixtureResult.Result}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="loading=true">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="playerModal" role="dialog" *ngIf="SelectedPlayer">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{SelectedPlayer.name}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="class-padd-modal">
                            <img src={{SelectedPlayer.photo}}  style="border: 1px grey solid; border-radius:90px;">
                            <div style="margin-top:10px">
                                <b>Position: </b>{{SelectedPlayer.position}}<br>
                                <b>Overall: </b><div style="display:inline" class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.overall)">{{SelectedPlayer.overall}}</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="class-padd-modal">
                            <h4>Attacking:</h4>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.crossing)">{{SelectedPlayer.crossing}}</div> Crossing</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.finishing)">{{SelectedPlayer.finishing}}</div> Finishing</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.heading)">{{SelectedPlayer.heading}}</div> Heading</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.short_passing)">{{SelectedPlayer.short_passing}}</div> Short passing</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.volleys)">{{SelectedPlayer.volleys}}</div> Volleys</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="class-padd-modal">
                            <h4>Skill:</h4>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.dribbling)">{{SelectedPlayer.dribbling}}</div> Dribbling</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.curve)">{{SelectedPlayer.curve}}</div> Curve</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.free_kicks)">{{SelectedPlayer.free_kicks}}</div> Free kicks</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.long_passing)">{{SelectedPlayer.long_passing}}</div> Long passing</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.ball_controll)">{{SelectedPlayer.ball_controll}}</div> Ball control</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="class-padd-modal">
                            <h4>Movement:</h4>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.acceleration)">{{SelectedPlayer.acceleration}}</div> Acceleration</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.sprint_speed)">{{SelectedPlayer.sprint_speed}}</div> Sprint speed</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.agility)">{{SelectedPlayer.agility}}</div> Agility</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.reactions)">{{SelectedPlayer.reactions}}</div> Reactions</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.balance)">{{SelectedPlayer.balance}}</div> Balance</div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-sm-3">
                        <div class="class-padd-modal">
                            <h4>Power:</h4>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.shot_power)">{{SelectedPlayer.shot_power}}</div> Shot power</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.jumping)">{{SelectedPlayer.jumping}}</div> Jumping</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.stamina)">{{SelectedPlayer.stamina}}</div> Stamina</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.strength)">{{SelectedPlayer.strength}}</div> Strength</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.long_shots)">{{SelectedPlayer.long_shots}}</div> Long shots</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="class-padd-modal">
                            <h4>Mentality:</h4>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.aggression)">{{SelectedPlayer.aggression}}</div> Aggression</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.interceptions)">{{SelectedPlayer.interceptions}}</div> Interceptions</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.positioning)">{{SelectedPlayer.positioning}}</div> Positioning</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.vision)">{{SelectedPlayer.vision}}</div> Vision</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.penalties)">{{SelectedPlayer.penalties}}</div> Penalties</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.composure)">{{SelectedPlayer.composure}}</div> Composure</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="class-padd-modal">
                            <h4>Defending:</h4>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.marking)">{{SelectedPlayer.marking}}</div> Marking</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.stand_tackle)">{{SelectedPlayer.stand_tackle}}</div> Stand tackle</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.slide_tackle)">{{SelectedPlayer.slide_tackle}}</div> Slide tackle</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="class-padd-modal">
                            <h4>Goalkeeping:</h4>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.GK_diving)">{{SelectedPlayer.GK_diving}}</div> Diving</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.GK_handling)">{{SelectedPlayer.GK_handling}}</div> Handling</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.GK_kicking)">{{SelectedPlayer.GK_kicking}}</div> Kicking</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.GK_positioning)">{{SelectedPlayer.GK_positioning}}</div> Positioning</div>
                            <div class="outer-div"><div class="attribute" [style.background-color]="applyColor(SelectedPlayer.GK_reflexes)">{{SelectedPlayer.GK_reflexes}}</div> Reflexes</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
